body{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
.navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}
.navbar li{
    display:inline-block;
}
.navbar a{
    text-decoration: none;
    display: block;
    width: 100px;
    padding: 20px 25px;
}
h1{
    font-weight: bold;
    font-size: 45px;
    color: rgb(54, 57, 88);
}
span{
    color:rgb(255, 131, 103) ;
}
section{
    height: 600px;
}

.half-width{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}
img{
    width: 100%;
}
.img2{
    width: 100%;
}
.link-button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient( 45deg, lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
}
.triple-width{
    width: 26%;
   float: left;
   margin-left: 4%;
   padding-left: 2%;
  
}
.triple-width img{
    width: 100%;
}
.projects{
    box-shadow: 10px 20px 40px gray;
    border-radius: 5px;
    background-color: white;
    
}

.wp{
    text-align: center;
}
.inquiry-area{
 background-image: url("images/Group_33094_1.png"); 
 background-size:60%;
 background-repeat: no-repeat;
 background-position: center;
}
.in{
    text-align: center;
   
}
  